# Notebook 0: A ridiculously brief introduction to Python

There are numerous tutorials and primers on Python that can be found through a cursory internet search.

In my experience, ***actually doing stuff*** is the best way to learn a new language though. Enter: [HackerRank](https://www.hackerrank.com/domains/python).

Now, since you're in CSCI 3022, you have a good amount of experience with at least one programming language (probably C++). Part of the challenge of progressing in a computing education is to learn new languages and to map what you already know in one language to the new setting.

Python is increasing in prevalence, in particular among data scientists. And it is object-oriented and row-major, making it a relatively natural next step after C++.

So, without further ado, let's go over a few rudimentary operations in Python!

![image](https://pbs.twimg.com/media/DLXlTRxUEAsKkkT.jpg:large)

### Arithmetic in Python 3

In [1]:
# addition
x = 13
y = 5
x + y

18

In [35]:
# raising to powers (exponentiating)
y**2

25

In [3]:
# regular division
x/y

2.6

In [4]:
# integer division
x//y
x%y # the remainder when x is divided by y

3

Oh no! We wanted to see was `x//y` is, but the only output to the screen was the result from `x%y`. We fix this by using the `print` statement.

In [5]:
# integer division, rebooted
print(x//y)
print(x%y)

2
3

### Some mathematical functions

In [6]:
# many functions in Python must be imported from packages
import math

In [7]:
# you must preface the functions with the package name
math.pi

3.141592653589793

In [8]:
math.sin(1)

0.8414709848078965

In [37]:
# and if you don't like how cumbersome that is, there is a solution!
from math import pi, sin

In [39]:
print(sin(1))
print(pi)

0.8414709848078965
3.141592653589793

### Fun with strings!

In [11]:
creature1 = 'eagle'
creature2 = 'wolf'

crime_against_nature = creature1 + creature2

print(crime_against_nature)

eaglewolf

But we can also go back and forth between strings and integers:

In [12]:
date = '08Aug2018'

You can slice this char-string like an array. The results are themselves char-strings.

In [13]:
day = date[0:2]  # python is 0-based
month = date[2:5]
year = date[5:]

In [14]:
day

'08'

In [15]:
print(day,month,year)

08 Aug 2018

In [16]:
#
tomorrow = int(day) + 1
print("{:03.0f} {} {}".format(tomorrow, month, year))

009 Aug 2018

In [17]:
# or like a neanderthal, if that's your thing
print(tomorrow,month,year)

9 Aug 2018

### Lists

Lists are the most basic form of array-like object in Python.

In [18]:
# we can store whatever we want in lists!
x = [2,1,5,'squid']

In [19]:
# remember, Python indexing starts at 0
x[0]

2

In [20]:
# and array/list slicing in Python ending index in EXCLUSIVE,
# but the beginning index is INCLUSIVE
x[1:3]

[1, 5]

In [21]:
# you can even reference elements from the end of the list!
x[-1]

'squid'

In [22]:
x[-2]

5

In [23]:
x[-2:]

[5, 'squid']

### if/else and logical operators

In [24]:
x = 5

In [25]:
if round(x/2)==x/2:
    print('x is even!')
else:
    print('x is odd!')

x is odd!

The `int` function versus the `round` function

### Loops

You can loop over indices like you would in C++ or Fortran (if you are suitably tough) by using `range`. Note that `range(3)` makes use of the fact that Python is 0-based and will loop over something of length 3: [0, 1, 2]

In [26]:
for i in range(3):
    print(i)

0
1
2

In [27]:
print(list(range(3)))

[0, 1, 2]

You can also loop over the elements of a list:

In [28]:
x = [2, 7, -153, 'octopus']

for xi in x:
    print(xi)

2
7
-153
octopus

In [29]:
# or just loop over the indices
for i in range(len(x)):
    print(x[i])

2
7
-153
octopus

In [30]:
list(range(1,5))

[1, 2, 3, 4]

### Defining functions

I love numbers, but bigger numbers are nice. So let's write a function to add one to a number.

In [31]:
def plus_one_easy(x):
    '''   <-- this initial comment is a docstring. Use the tab-completion to witness its FULL POWERS
    Input:
    x = a number
    Output:
    y = a number that is x+1
    '''

    # TODO

What if we make it a little trickier?

In [32]:
def plus_one(x):
    '''
    Input:
    x = a list
    Output:
    y = a list of same length as x, where each element is one more than the corresponding element of x
    '''

    # TODO

### Quick note about variable scope

If I define a quantity within a function, _generally_ Python **does not know** about that variable outside of the function (there are ways around this).

---
# BONUS MATERIAL!

This achieves the same thing as the list version of `plus_one`, but does so with what is called a `list comprehension`. List comprehensions are powerful magic, and can make for much more readable and efficient code.

In [33]:
def plus_one_reboot(x):

    # TODO

SyntaxError: unexpected EOF while parsing (<ipython-input-33-ace6f6fb3709>, line 4)

In [ ]:
plus_one_reboot([1,2,5,-10])

As a final note, we could just stick it all together on one line in the `return` statement.

In [ ]:
def plus_one_reboot_again(x):

    # TODO

In [ ]:
plus_one_reboot_again([1,2,5,-10])

Ah, just kidding. One more bit.

Here's how to use `assert` statements to make sure things are what they should be! This is great for things like type checking and making sure input to your functions is as it should be.

In [ ]:
x = [1,2,5,-10]
x_plus_one = [2,3,6,-9]

assert plus_one(x)==x_plus_one, "Something is wrong!"
assert plus_one_reboot(x)==x_plus_one, "Something is wrong!"
assert plus_one_reboot_again(x)==x_plus_one, "Something is wrong!"

Here's what should happen if things are wrong:

In [ ]:
assert plus_one(x)==x_plus_one, "Something is wrong!"
assert plus_one_reboot(x)==0, "Something is wrong!"
assert plus_one_reboot_again(x)==x_plus_one, "Something is wrong!"